* {
    padding: 0%;
    margin: 0%;
    font-family: "poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/4d7bb476-6d8b-4c49-a8c3-7739fddd135c/deecf71d-7a47-4739-9e1a-31b6b0d55be7/IN-en-20240429-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    height: 70vh;
    position: relative;
    background-position: center center;
    background-size: max(1000px, 100vw);
    background-repeat: no-repeat;
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top: 0%;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;

}

.hero> :nth-child(1) {
    font-family: "poppins", sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 48px;
    font-weight: bolder;

}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    color: white;
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0.045);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-family: "poppins", sans-serif;
    gap: 10;


}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm {
    color: white;
    background-color: red;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    color: white;
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg {
    position: relative;
    width: 30vw;
}

.secImg img {
    width: 450px;
    position: relative;
    right: auto;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: auto;
}

section.first>div {
    display: flex;
    flex-direction: column;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;

}

section.first>div :nth-child(2) {
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;

}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 10px auto;
    justify-content: space-between;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

footer .questions {
    padding: 34px 0;

}

.footer a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;

}
.Hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}
.Hero-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.Hero input {
    padding: 10px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    color: white;
    border: 1px solid rgba(246, 238, 238, 0.5);
}

